.container{
    width: 400px;
    border: 1px solid rgb(21, 71, 69);
    background-color: rgb(213, 243, 233);
    margin: auto;
    padding: 10px;
}

.content{
    border: 1px solid rgb(124, 71, 7);
    background-color: rgb(243, 163, 65);
    margin: 10px;
    padding: 10px;
}

.btn-box{
    position: relative;
    
}
.btn{
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    padding: 5px 10px;
}
.btn-delete{
    background-color: red;
}
.btn-keep{
    background-color: rgb(0, 102, 255);
    margin-left: 5px;
}

.note{
    color: white;
    border: 1px solid rgb(10, 47, 88);
    background-color: rgb(20, 54, 94);;
    padding: 8px;
    width: 180px;
    /* height: 40px; */
    height: fit-content;
    opacity: 0; /* không hiển thị */
    /* canh giữa text chiêu dọc:  display: flex; align-items: center; */
    /* display: flex;
    align-items: center; */
    /* canh tọa độ theo  btn-box */
    position: absolute;
    top: -55px;
    left: -25px;
}

.btn-delete:hover ~ .note{
    opacity: 1;
}
