.container{
    width: 400px;
    border: 1px solid rgb(21, 71, 69);
    background-color: rgb(213, 243, 233);
    margin: auto;
    padding: 10px;
}
.title{
    font-size: 20px;
    text-align: center;
    border: 1px solid rgb(240, 181, 109);
    background-color: bisque;
    margin: 10px;
    padding: 10px;
}
.content{
    border: 1px solid rgb(124, 71, 7);
    background-color: rgb(243, 163, 65);
    margin: 10px;
    padding: 10px;
}

.container button{
    color: white;
    background-color: rgb(29, 145, 199);
    border: none;
    border-radius: 5px;
    margin: 10px;
    padding: 5px 10px;
}