.container{
    text-align: center;
    background-image: url("./images/background-01.jpg");
    padding-top: 50px;
    padding-bottom: 50px;
    opacity: 90%;
}
h1{
    text-align: center;
    color: white;
}
p{
    text-align: center;
    color: white;
    font-size: 18px;
}
button{
    color: white;
    background-color: red;
    font-size: 16px;
    height: 40px;
    border: none;
    
}