.container{
    text-align: center;
    background-color: rgb(214, 211, 211);
    padding-top: 50px;
    padding-bottom: 50px;
    width: 80%;
	margin: auto; /* canh giữa thẻ div */
    
}
.title{
    text-align: center;
    font-size: 50px;
}
.description{
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
}
input{
    text-align: center;
    font-size: 16px;
    height: 50px;
    border: none;
}
button{
    margin-top: 20px;
    color: white;
    background-color: rgb(22, 146, 168);
    font-size: 16px;
    height: 60px;
    border: none;
    border-radius: 5%;
    padding: 5px 15px 5px 15px;
}