.container{
    width: auto;
    height: 400px;
    margin: auto;
    border: none;
    position: relative;
}

/* menu dọc */
.vertical-menu-container{
    position: absolute;
    left: 15%;
    top: 50%;
    transform: translate(0%,-50%);
    border: 1px solid rgb(99, 157, 251);
    background-color: rgb(188, 211, 248);;
}
.vertical-menu-box{
    position: relative;
    width: 120px;
    height: 350px;
}
.main-item-design{
    width: 108px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(240, 181, 109);
    background-color: bisque;
}
.main-item1{
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 14%);
}
.main-item2{
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 128%);
}

.main-item3{
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 242%);
}

.main-item4{
    position: absolute;
    left: 50%;
    top: 0%;
    transform: translate(-50%, 356%);
}

.dropdown-users{
    position: absolute;
    left: 108%;
    top: 0px;
    border: none;
    width: 120px;
    height: auto;
    opacity: 0;
}

.dropdown-users-item{
    width: 120px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    background-color: white;
   
}

/* .users-item:hover ~ .dropdown-users{
    opacity: 1;
} */
.main-item2:hover > .dropdown-users{
    opacity: 1;
}

.copyright{
    position: absolute;
    left: 50%;
    bottom: 3%;
    transform: translate(-50%,0%);
    text-align: center;
    width: 120px;
    font-size: 12px;
}

/* menu ngang */
.horizontal-menu-container{
    position: absolute;
    right: 15%;
    top: 20%;
    border: 1px solid rgb(99, 157, 251);
    background-color: rgb(188, 211, 248);;
}
.horizontal-menu-box{
    position: relative;
    width: 350px;
    height: 48px;
}
.main-item-horizontal-menu-1{
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(5%, -50%);
}
.main-item-horizontal-menu-2
{
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(110%, -50%);
}
.main-item-horizontal-menu-3{
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(215%, -50%);
}

.dropdown-users-horizontal-menu{
    position: absolute;
    left: 0%;
    top: 130%;
    border: none;
    width: 120px;
    height: auto;
    opacity: 0;
}
.main-item-horizontal-menu-2:hover > .dropdown-users-horizontal-menu{
    opacity: 1;
}
